{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %} {{ request.user }} {% endblock %}

{% block base_links %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <div class="main-Container">

                        <div id="Container">

                            <h3 style="color: red"> {{ error }}</h3>

                            <form method="post" enctype="multipart/form-data">
                                <input type="file" id="file" class="File" name="file">

                                <br>
                                <br>

                                <input type="submit" class="btn btn-primary" id="txt" value="Transcribe"/>

                                <select class="selectLanguage" style="margin-left: 20px">
                                    <option value="">Select Language</option>
                                    <option value="">English</option>
                                    <option value="">Urdu</option>
                                </select>

                            </form>
                            <br>

                            <div id="speechTranscriptContainer">
                                <h1>Transcript</h1>
                                <p></p>
                            </div>

                            <div class="form-group purple-border" style="width:500px;align:center">
                                <textarea class="form-control" id="textareainput" rows="10"
                                          cols="20">{{ data }}</textarea>
                            </div>
                            <div style=" display:inline;">
                                <button class="btn btn-primary" id="copyID" style="margin-left: 280px;
    margin: 12px 0">
                                    <i class="fa fa-copy"></i>
                                </button>

                                <button class="btn btn-primary " id="downloadbutton" style="margin-left: 280px;
    margin: 12px 0px; ">
                                    <i class="fa fa-download"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        const button = document.getElementById("copyID"),
            input = document.getElementById("textareainput");
        button.addEventListener("click", function (event) {
            event.preventDefault();
            input.select();
            document.execCommand("copy");
        });
        // Start file download.
        document.getElementById("downloadbutton").addEventListener("click", function () {
            // Generate download of hello.txt
            // file with some content
            const text = document.getElementById("textareainput").value;
            const filename = "TextareaInput.txt";
            download(filename, text);
        }, false);

        function download(file, text) {
            const element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8, ' + encodeURIComponent(text));
            element.setAttribute('download', file);
            document.body.appendChild(element);
            //onClick property
            element.click();
            document.body.removeChild(element);
        }
    </script>

{% endblock %}



